<h1 class="mat-h1">Login</h1>
<form [formGroup]="matLoginForm" (ngSubmit)="matLoginForm.valid && login()">
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username"/>
    <mat-error>Username can't be blank.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password"/>
    <mat-error>Password can't be blank.</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">Login</button>
</form>